@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.border-top {
  @apply border-t-[1.5px] border-t-[rgba(72,72,74,0.4)] border-solid;
}

.border-bottom {
  @apply border-b-[1.5px] border-b-[rgba(72,72,74,0.4)] border-solid;
}

.sub-title {
  @apply text-base text-[#fff] font-semibold;
}
